* {
    margin: 0;
    }

html {
    width: 100vw;
    height: 100%;
    overflow: hidden; 
    background: #fdf2ea;
    padding: 20px;
    font-family: 'Permanent Marker', regular;
    }

    @font-face {
        font-family: "Permanent Marker";
        src: url("/path-to-your-font.woff2") format("woff2"),
             url("/path-to-your-font.woff") format("woff");
      }

.ashafree {
    font-size: 150px;
    color: black;
    position: fixed;
    top: 35%;
    left: 26%;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
}

.who {
    font-size: 70px;
    transform: rotate(90deg);
    color: black;
    position: fixed;
    left: 2%;
    top: 45%;
}

.work {
    font-size: 70px;
    transform: rotate(270deg);
    color: black;
    position: fixed;
    right: 2%;
    top: 45%;
}

@media (max-width: 800px) {
    
    .ashafree {
        font-size: 80px;
        color: black;
        position: fixed;
        top: 5%;
        left: 8%;
        z-index: 2;
    }

    .back {
        position: absolute;
        top: 0;
        width: 30px;
        height: 100px;
    }
    
    .who {
        font-size: 70px;
        transform: rotate(0deg);
        color: black;
        position: fixed;
        top: 37%;
        left: 34%;
    }
    
    .work {
        font-size: 70px;
        transform: rotate(0deg);
        color: black;
        position: fixed;
        top: 46%;
        left: 30%;
    }

}
