* {
    margin: 0;
    }

    @font-face {
        font-family: "PermanentMarker-Regular";
        src: url("./PermanentMarker-Regular/fonts/PermanentMarker-Regular.eot"); /* IE9 Compat Modes */
        src: url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.otf") format("opentype"), /* Open Type Font */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.svg") format("svg"), /* Legacy iOS */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.woff") format("woff"), /* Modern Browsers */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.woff2") format("woff2"); /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
      }
      
html {
    width: 100vw;
    height: 100%;
    overflow: hidden; 
    background: #fdf2ea;
    padding: 20px;
    font-family: 'Permanent Marker', regular;
    }

a {
    text-decoration: none;
    color: black;
}

.cover {
    position: fixed;
    top: 0%;
    left: 0%;
    }

.back {
    font-size: 40px;
    color: black;
    position: fixed;
    top: 45%;
    left: 5%;
}

.title {
    font-size: 45px;
    position: fixed;
    top: 5%;
    right: 5%;
}

.box {
    position: fixed;
    top: 25%;
    right: 10%;
    background: none;
    width: 70vw;
    height: 600px;
    overflow: scroll;
}

.box .description {
    position: absolute;
    left: 50px;
    font-size: 22px;
    text-align: center;
    max-width: 1100px;
}

.box .description2 {
    position: absolute;
    top: 500px;
    left: 50px;
    font-size: 22px;
    text-align: center;
    max-width: 1100px;
}

.box .process_pic {
    position: absolute;
    top: 700px;
    left: 220px;
}

.box .process_title {
    font-size: 30px;
    position: absolute;
    top: 1150px;
    left: 450px;
}

.box .process_text {
    font-size: 23px;
    position: absolute;
    top: 1250px;
    left: 170px;
    max-width: 800px;
    text-align: center;
}

.box .pic01 {
    position: absolute;
    top: 1600px;
    left: 10px;
}

.box .pic02 {
    position: absolute;
    top: 1600px;
    right: 10px;
}

.box .pic03 {
    position: absolute;
    top: 2000px;
    left: 10px;
}

.box .pic04 {
    position: absolute;
    top: 2000px;
    right: 10px;
}

.box .link {
    font-size: 30px;
    position: absolute;
    top: 2550px;
    left: 460px;
}

.box .link:hover {
    text-shadow: 4px 4px 7px #74ECFF;
}

.box .final {
    font-size: 30px;
    position: absolute;
    top: 2470px;
    left: 500px;
}

.box .finalpic {
    position: absolute;
    top: 2620px;
    left: 150px;
}

