* {
    margin: 0;
    }

html {
    width: 100vw;
    height: 100%;
    overflow: hidden; 
    background: #fdf2ea;
    padding: 20px;
    font-family: 'Permanent Marker', regular;
    }

a {
    text-decoration: none;
    color: black;
}

.cover {
    position: fixed;
    top: 0%;
    left: 0%;
    }

.back {
    font-size: 40px;
    color: black;
    position: fixed;
    top: 45%;
    left: 5%;
}

.title {
    font-size: 45px;
    position: fixed;
    top: 5%;
    right: 5%;
}

.box {
    position: fixed;
    top: 25%;
    right: 10%;
    background: none;
    width: 70vw;
    height: 600px;
    overflow: scroll;
}

.box .description {
    position: absolute;
    left: 120px;
    font-size: 22px;
    text-align: center;
    max-width: 900px;
}

.box .process_title {
    font-size: 30px;
    position: absolute;
    top: 450px;
    left: 440px;
}

.box .process_text {
    font-size: 23px;
    position: absolute;
    top: 550px;
    left: 170px;
    max-width: 800px;
    text-align: center;
}

.box .pic01 {
    position: absolute;
    top: 960px;
    left: 155px;
}

.box .link_des {
    font-size: 23px;
    position: absolute;
    top: 650px;
    left: 210px;
    max-width: 700px;
    text-align: center;
}

.box .link {
    font-size: 30px;
    position: absolute;
    top: 730px;
    left: 405px;
}

.box .link:hover {
    text-shadow: 4px 4px 7px #74ECFF;
}

.box .final {
    font-size: 30px;
    position: absolute;
    top: 830px;
    left: 478px;
}

