* {
    margin: 0;
    }

    @font-face {
      font-family: "PermanentMarker-Regular";
      src: url("./PermanentMarker-Regular/fonts/PermanentMarker-Regular.eot"); /* IE9 Compat Modes */
      src: url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.otf") format("opentype"), /* Open Type Font */
        url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.svg") format("svg"), /* Legacy iOS */
        url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.woff") format("woff"), /* Modern Browsers */
        url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.woff2") format("woff2"); /* Modern Browsers */
      font-weight: normal;
      font-style: normal;
    }

html {
    width: 100vw;
    height: 100%;
    overflow: hidden; 
    background: #fdf2ea;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    }

.cover {
    position: fixed;
    top: 0%;
    left: 0%;
    }

.back {
  font-family: 'PermanentMarker-Regular';
    font-size: 40px;
    color: black;
    position: fixed;
    top: 45%;
    left: 5%;
}


.title {
  font-family: 'PermanentMarker-Regular';
    font-size: 45px;
    position: fixed;
    top: 5%;
    left: 29%;
}

.box {
    position: fixed;
    top: 30%;
    left: 33%;
    background: none;
    width: 30vw;
    height: 440px;
}

/* .box .website {
    font-family: 'Permanent Marker', regular;
    color: black;
    font-size: 40px;
    cursor: pointer;
} */

.box .dropbtn {
  font-family: 'PermanentMarker-Regular';
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 40px;
    border: none;
    cursor: pointer;
  }
  
  .box .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .box .dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .box .dropdown-content a {
    font-family: 'PermanentMarker-Regular';
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
  }
  
  .box .dropdown-content a:hover {background-color: #f1f1f1}
  
  .box .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .box .dropdown:hover .dropbtn {
    text-shadow: 4px 4px 7px #74ECFF;
  }

  .box .dropbtn2 {
    font-family: 'PermanentMarker-Regular';
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 40px;
    border: none;
    cursor: pointer;
  }
  
  .box .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .box .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .box .dropdown-content2 a {
    font-family: 'PermanentMarker-Regular';
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
  }
  
  .box .dropdown-content2 a:hover {background-color: #f1f1f1}
  
  .box .dropdown2:hover .dropdown-content2 {
    display: block;
  }
  
  .box .dropdown2:hover .dropbtn2 {
    text-shadow: 4px 4px 7px #74ECFF;
  }

  .box .dropbtn3 {
    font-family: 'PermanentMarker-Regular';
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 40px;
    border: none;
    cursor: pointer;
  }
  
  .box .dropdown3 {
    position: relative;
    display: inline-block;
  }
  
  .box .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .box .dropdown-content3 a {
    font-family: 'PermanentMarker-Regular';
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
  }
  
  .box .dropdown-content3 a:hover {background-color: #f1f1f1}
  
  .box .dropdown3:hover .dropdown-content3 {
    display: block;
  }
  
  .box .dropdown3:hover .dropbtn3 {
    text-shadow: 4px 4px 7px #74ECFF;
  }

  .box .dropbtn4 {
    font-family: 'PermanentMarker-Regular';
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 40px;
    border: none;
    cursor: pointer;
  }
  
  .box .dropdown4 {
    position: relative;
    display: inline-block;
  }
  
  .box .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .box .dropdown-content4 a {
    font-family: 'PermanentMarker-Regular';
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
  }
  
  .box .dropdown-content4 a:hover {background-color: #f1f1f1}
  
  .box .dropdown4:hover .dropdown-content4 {
    display: block;
  }
  
  .box .dropdown4:hover .dropbtn4 {
    text-shadow: 4px 4px 7px #74ECFF;
  }



 



 