* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    @font-face {
        font-family: "PermanentMarker-Regular";
        src: url("./PermanentMarker-Regular/fonts/PermanentMarker-Regular.eot"); /* IE9 Compat Modes */
        src: url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.otf") format("opentype"), /* Open Type Font */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.svg") format("svg"), /* Legacy iOS */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.woff") format("woff"), /* Modern Browsers */
          url("./PermanentMarker-Regular//fonts/PermanentMarker-Regular.woff2") format("woff2"); /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
      }

html {
    width: 100vw;
    height: 100%;
    overflow: hidden; 
    background: #fdf2ea;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    }

.background {
    position: fixed;
    top: 0;
    left: 0;
    }

.phone {
    visibility: none;
}

.back {
    font-family: "PermanentMarker-Regular";
    font-size: 70px;
    color: black;
    position: fixed;
    top: 45%;
    right: 5%;
    
} 

.bio_box {
    position: fixed;
    background: none;
    top: 23%;
    left: 16%;
    width: 40vw;
    height: 450px;
}

.bio_box .name {
    font-family: "PermanentMarker-Regular";
    font-size: 30px;
    position: absolute;
    left: 20px;
}

.bio_box .school {
    font-family: "PermanentMarker-Regular";
    font-size: 35px;
    position: absolute;
    top: 80px;
    left: 18px;
}

.bio_box .major {
    font-family: "PermanentMarker-Regular";
    font-size: 27px;
    position: absolute;
    top: 120px;
    left: 20px;
}

.bio_box .bio {
    font-family: "PermanentMarker-Regular";
    font-size: 25px;
    position: absolute;
    top: 170px;
    left: 20px;
}

@media (max-width: 800px) {

    .background {
        display: none;
    }

    .phone {
        position: fixed;
        left: 0%;
        top: -5%;
    }

    .back {
        font-size: 50px;
        color: black;
        position: fixed;
        bottom: 0%;
        right: 45%;
    } 
    
    .bio_box {
        position: fixed;
        background: none;
        top: 20%;
        left: 2%;
        width: 93vw;
        height: 450px;
        }

    .bio_box .name {
        font-size: 25px;
        position: absolute;
        left: 20px;
    }
    
    .bio_box .school {
        font-size: 30px;
        position: absolute;
        top: 70px;
        left: 18px;
    }
    
    .bio_box .major {
        font-size: 22px;
        position: absolute;
        top: 110px;
        left: 20px;
    }
    
    .bio_box .bio {
        font-size: 20px;
        position: absolute;
        top: 150px;
        left: 20px;
    }
}